.settings
.DS*
bin
jars
README.txt
ResourceBundleUtilityProperties
VegaDisplayProperties
VegaDisplayConfiguration
VegaHighscores
VegaProperties
VegaConfiguration
ServerData*
Users*
Messages*
Web
docs/.~lock.*