.settings
.DS*
bin
jars/build
README.txt
ResourceBundleUtilityProperties
VegaDisplayProperties
VegaDisplayConfiguration
VegaHighscores
VegaProperties
VegaConfiguration*
ServerData*
Users*
Messages*
Web
docs/.~lock.*